# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment
envx/

# Ignore log files
*.log

# Ignore local configuration files
*.local

# Ignore database files
*.sqlite3

# Ignore IDE-specific files and directories
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

.env